go 1.22.3

use (
	./01_pacotes
	./02_variaveis
	./03_tipos_de_dados
	./04_funcoes
	./05_operadores
	./06_structs
	./07_heranca
	./08_ponteiros
	./09_arrays_slices
	./10_arrays_internos
	./11_maps
	./12_estruturas_de_controle
)
